astar-island/simulation/mlp
node_modules
astar-island/simulation/simulate
astar-island/simulation/calibrate
.venv
*/.venv
.DS_Store
*/.DS_Store
norgesgruppen/NM_NGD_product_images/*
norgesgruppen/train/*
norgesgruppen/yolo_dataset/*
norgesgruppen/runs/*
norgesgruppen/best.pt
norgesgruppen.zip
overview/public/astar-dashboard.html
astar-island/aggregate-data/data/ui/window.html
astar-island/aggregate-data/data/preview.html
tripletex/.env
norgesgruppen/yolov8m.pt
